In [1]:
import pandas as pd
import pyodbc
import os
from datetime import datetime

In [2]:
### SQL Server Connection

# SQL Server connection parameters - replace with your own values
server = 'fsdhastp01'
database = 'ABC'
# use Windows Authentication
username = 'YOUR_USERNAME'  
password = 'YOUR_PASSWORD' 
trusted_connection = 'yes'  # Set to 'no' if using SQL Authentication

In [3]:
# Create connection string
if trusted_connection == 'yes':
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};Trusted_Connection=yes;'
else:
    conn_str = f'DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};'

# Create connection
conn = pyodbc.connect(conn_str)

print("Connected to SQL Server successfully!")

Connected to SQL Server successfully!

In [4]:
query = """select * from  WorkUtilizationData"""

In [6]:
# Option 1: Export to CSV (correct extension)
df = pd.read_sql(query, conn)
df.to_excel("C:/forlogssystems/Data/exported_data.xlsx", index=False)
df_read = pd.read_excel("C:/forlogssystems/Data/exported_data.xlsx")
df_read.head()

C:\Users\amila.g\AppData\Local\Temp\ipykernel_22316\3813686156.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,Date,PunchCode,WorkType,Hours,NoOfMan,SystemHours,Quantity,ResourceKPI,SystemKPI
0,2019-07-01,211,211,48.76,6.09500,24.848333,2413,49.487284,97.109130
1,2019-07-01,214,214,64.40,8.05000,46.749444,33438,519.223602,715.259843
2,2019-07-02,213,213,60.63,7.57875,0.119444,20,0.329870,167.442484
3,2019-07-03,214,214,58.37,7.29625,41.465277,37104,635.669008,894.820984
4,2019-07-04,211,211,73.37,9.17125,31.783333,7269,99.073190,228.704774

In [ ]:
df.to_parquet('work_utilization_data.parquet', compression='snappy')